<ion-content [fullscreen]="true">
  <div id="container">
    <div id="section1">
      <ion-text>
        <h1>Welcome</h1>
      </ion-text>
    </div>
    <div id="section2">
      <ion-button shape="round" (click)="signInWithGoogle()">
        <img src="../../assets/Google.svg" class="google">
        Google
      </ion-button>
      <ion-button shape="round" (click)="singInWithFacebook()">
        <img src="../../assets/Facebook.svg" class="facebook">
        Facebook
      </ion-button>
    </div>
    <div id="section3">
      <ion-item lines="none">
        <ion-label position="stacked">Email</ion-label>
        <ion-input clearInput type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Password</ion-label>
        <ion-input clearInput type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>
    <div id="section4">
      <ion-button shape="round" (click)="initWithEmail()">
        {{newUser? "Register": "Login"}}
      </ion-button>
      <ion-item lines="none">
        <ion-label>New user</ion-label>
        <ion-toggle [(ngModel)]="newUser"></ion-toggle>
      </ion-item>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <a>Forgot Password</a>
  </ion-toolbar>
</ion-footer>
